.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: var(--branco);
  padding: 0 5.6em;
  background: url(../../img/banner/Forma\ 1.svg) no-repeat left top,
              url(../../img/banner/Forma\ 2.svg) no-repeat right center,
              url(../../img/banner/Ilustração_\(1\).png) no-repeat center bottom / 24.7em;
}

.banner_logo {
  height: 4.6em;
}

.banner_titulo {
  font-family: var(--font-secundaria);
  font-size: 2.6em;
  font-weight: 500;
  line-height: 4.8rem;
  margin: 1.6rem 0;
}

.banner_texto {
  font-size: 1.6em;
  text-align: center;
  line-height: 2.6rem;
  margin-bottom: 2.4rem;
}