.form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
  max-width: 31.2em;
}

.form--alter {
  background: var(--color-surface-main);
  border-radius: 1rem;
  gap: 3.2rem;
  padding: 3.2rem 1.6rem;
  max-width: 52.4em;
}

.form__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
}

.form__box--alter {
  gap: 0.4rem;
}

.form__fields {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.form__title {
  color: var(--color-text-base);
  font-size: 2.1rem;
  font-weight: 2.4rem;
  font-weight: 600;
  text-align: center;
}

.form__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.6em;
  color: var(--color-text-base);
  line-height: 2.4rem;
  width: 100%;
}

.form__label--brand {
  color: var(--color-secondary);
  font-weight: 600;
  gap: 0.8rem;
  align-items: flex-start;
}

.form__input {
  background: var(--color-background-main);
  height: 4rem;
  padding: 1.2rem 1.6rem;
  box-sizing: border-box;
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.2rem var(--color-shadow-15);
  border: 0;
  width: 100%;
}

.form__input::placeholder {
  color: var(--color-placeholder);
  text-align: center;
}

.form__input--alter {
  background: var(--color-surface-white);
}

.form__input--alter::placeholder {
  text-align: left;
}

.form__link {
  color: var(--color-accent);
  font-size: 1.2em;
  line-height: 2.4rem;
  text-align: center;
}

.form__link:hover {
  cursor: pointer;
}

.form__link--alter {
  font-size: 1.2rem;
  margin: 0;
  border: 0;
  background: none;
}

.form__photo {
  width: 8rem;
  height: 8rem;
}

.form__photo:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .form {
    max-width: 34.4rem;
  }

  .form--alter {
    max-width: 52.4rem;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    max-width: 52.4rem;
  }

  .form--alter {
    padding: 3.2rem;
  }

  .form__password {
    max-width: 36.2rem;
  }

  .form__email {
    max-width: 55.2rem;
  }
}
