.pets {
  display: grid;
  gap: 1.6em;
}

.pets__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6em;
  color: var(--color-text-base);
  padding: 1.6em 2.4em;
  background: var(--color-background-main);
  max-width: 36em;
}

.pets__image {
  width: 100%;
  height: auto;
}

.pets__data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pets__name {
  color: var(--color-secondary);
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 1rem;
}

.pets__infos {
  font-size: 1.4em;
  line-height: 2rem;
}

.pets__address {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.pets__responsible {
  display: flex;
  align-items: center;
  color: var(--color-text-base);
  font-size: 1em;
  height: 1.8rem;
  padding-left: 2.6rem;
  background: url(../../assets/svg/icons-ui/message.svg) no-repeat left center /
    1.8rem;
  box-sizing: border-box;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .pets {
    grid-template-columns: repeat(2, 1fr);
  }

  .pets__item {
    max-width: none;
  }
}

@media screen and (min-width: 1440px) {
  .pets {
    grid-template-columns: repeat(3, 1fr);
  }
}
