.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--branco);
}

.container_principal {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: url(../img/banner/Patas.svg) no-repeat right top,
    url(../img/banner/Forma\ 1.svg) no-repeat left top,
    url(../img/banner/Forma\ 3.svg) no-repeat left calc(100% - 3.2rem);
}

.container_principal-inicial {
  background: url(../img/banner/Forma\ 1.svg) no-repeat left top,
    url(../img/banner/Forma\ 2.svg) no-repeat right center,
    url(../img/banner/Ilustração_\(1\).png) no-repeat center calc(100% + 1.6rem) / 24.7em,
    var(--azul);
}

.container_principal-pets {
  background: url(../img/banner/Forma\ 1.svg) no-repeat left top;
}

@media screen and (min-width: 768px) {
  .container_principal-inicial {
    background-size: 56em, 13.4em, 33.8em;
  }

  .container_principal-pets {
    background-size: 56em;
  }
}

@media screen and (min-width: 1440px) {
  .container_principal-pets {
    background: url(../img/banner/Forma\ 1.svg) no-repeat left top / 56em,
      url(../img/banner/Forma\ 2.svg) no-repeat no-repeat right center / 13.4em;
  }
}