.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--branco);
}

.container-inicial {
  background: var(--azul);
}


.container_principal {
  display: flex;
  flex-direction: column;
  flex: 1;
}