.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  min-height: 10.4em;
}

.footer__text {
  font-size: 1.6em;
  color: var(--color-neutral-white);
}
