.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 34.4em;
}

.form__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6em;
  color: var(--color-text-base);
  line-height: 2.4rem;
  gap: 1rem;
}

.form__input {
  background: var(--color-background-main);
  height: 4rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
  border: 0;
  width: 100%;
}

.form__input::placeholder {
  color: var(--color-placeholder);
  text-align: center;
}

.form__link {
  color: var(--color-accent);
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1440px) {
  .form {
    max-width: initial;
  }

  .form__password {
    max-width: 36.2rem;
  }

  .form__email {
    max-width: 55.2rem;
  }
}
