.menu {
  position: absolute;
  top: 3.4em;
  left: 0;
  width: 100%;
  padding: 0 3.4em;
  box-sizing: border-box;
}

.menu_navegacao {
  display: flex;
  align-items: center;
  gap: 3em;
}

.menu_logo {
  display: none;
}

.menu_lista {
  display: flex;
  gap: 3rem;
}

.menu_item {
  height: 5rem;
  width: 5rem;
  background-position: center;
  background-repeat: no-repeat;
}

.menu_link {
  display: inline-block;
  height: inherit;
  width: inherit;
}

.menu_item-casa {
  background-image: url(../img/header/Casa.svg);
}

.menu_item-email {
  background-image: url(../img/header/Mensagens.svg);
}

.menu_item-perfil {
  background-image: url(../img/header/Usuário.png);
  background-size: 5em;
  margin-left: auto;
}

@media screen and (min-width: 768px) {


  .menu_logo {
    display: initial;
  }
}