.menu {
  position: fixed;
  top: 3.4rem;
  left: 3.4rem;
}

.menu_lista {
  display: flex;
  gap: 3rem;
}

.menu_item {
  height: fit-content;
}

.menu_link {
  display: inline-block;
  min-height: 5rem;
  min-width: 5rem;
  background-position: center;
  background-repeat: no-repeat;
}

.menu_link-casa {
  background-image: url(../img/header/Casa.svg);
}

.menu_link-email {
  background-image: url(../img/header/Mensagens.svg);
}