@import url(./reset.css);
@import url(./container.css);
@import url(./menu.css);
@import url(./principal.css);
@import url(./rodape.css);
@import url(./formulario.css);
@import url(./pets.css);

:root {
  --verde: #36D6AD;
  --azul: #3772FF;
  --coral: #FC7071;
  --creme: #FCF0E3;
  --cinza: #737380;
  --cinza-claro: #BCBCBC;
  --cinza-claro-fundos: #F7F7F7;

  --branco: #FFFFFF;

  --font-principal: 'Poppins', sans-serif;
  --font-secundaria: 'IBM Plex Sans', sans-serif;

  font-size: 62.5%;
}

body {
  font-family: var(--font-principal);
}

.botoes {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.botoes_botao {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-principal);
  font-weight: 600;
  font-size: 1.6em;
  background-color: var(--coral);
  border-radius: .6rem;
  padding: .8rem;
  color: var(--branco);
  text-decoration: none;
  filter: drop-shadow(.2rem .2rem .4rem rgba(0, 0, 0, .25));
  min-height: 4rem;
  box-sizing: border-box;
  border: 0;
  min-width: 14.8rem;
  align-self: center;
}

.botoes_botao-inicial {
  align-self: auto;
}
