.home__content {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .home__content {
    padding: 28.6em 3.2em 0 3.2em;
    max-width: 76.8em;
  }
}

@media screen and (min-width: 1440px) {
  .home__content {
    padding: 20.4em 3.2em 0 3.2em;
    max-width: 112em;
  }
}
